Source: ksnip
Section: utils
Priority: optional
Maintainer: Damir Porobic <damir.porobic@gmx.com>
Build-Depends: debhelper (>=9), cmake (>=3.5)
Standards-Version: 4.1.1
Homepage: http://ksnip.org

Package: ksnip
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Screenshot Tool
 Screenshot tool that provides many annotation features for your screenshots.
