name: linux

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    tags:
      - "v*"

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Set up build variables
      run: bash ./.github/scripts/setup_build_variables.sh

    - name: Set up linux build variables
      run: bash ./.github/scripts/linux/setup_linux_build_variables.sh

    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      with:
        version: '5.15.2'
        host: 'linux'
        install-deps: 'true'

    - name: Install dependencies
      run: sudo apt-get install extra-cmake-modules libxcb-xfixes0-dev xvfb

    - name: Set up GoogleTest
      run: bash ./.github/scripts/setup_googleTest.sh

    - name: Set up kColorPicker
      env:
        BUILD_TYPE: Debug
      run: bash ./.github/scripts/setup_kColorPicker.sh
        
    - name: Set up kImageAnnotator
      env:
        BUILD_TYPE: Debug
      run: bash ./.github/scripts/setup_kImageAnnotator.sh
        
    - name: Build
      env:
        BUILD_TESTS: ON
        BUILD_TYPE: Debug
      run: bash ./.github/scripts/build_ksnip.sh

    - name: Test
      working-directory: ${{github.workspace}}/build/tests
      run: xvfb-run --auto-servernum --server-num=1 --server-args="-screen 0 1024x768x24" ctest --extra-verbose


  package-appImage:
    runs-on: ubuntu-18.04
    needs: test-linux
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up build variables
        run: bash ./.github/scripts/setup_build_variables.sh

      - name: Set up windows build variables
        run: bash ./.github/scripts/linux/setup_linux_build_variables.sh

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'
          host: 'linux'
          install-deps: 'true'

      - name: Install dependencies
        run: sudo apt-get install extra-cmake-modules libxcb-xfixes0-dev libssl-dev

      - name: Set up kColorPicker
        run: bash ./.github/scripts/setup_kColorPicker.sh

      - name: Set up kImageAnnotator
        run: bash ./.github/scripts/setup_kImageAnnotator.sh

      - name: Download deploy tool
        run: |
          wget -c -nv "https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage"
          chmod a+x linuxdeployqt-continuous-x86_64.AppImage

      - name: Package AppImage
        working-directory: ${{github.workspace}}
        run: bash ./.github/scripts/linux/build_appImage.sh

      - name: Upload files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
          bash upload.sh ksnip*.AppImage*


  package-rpm:
    runs-on: ubuntu-latest
    needs: test-linux
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up build variables
        run: bash ./.github/scripts/setup_build_variables.sh

      - name: Set up windows build variables
        run: bash ./.github/scripts/linux/setup_linux_build_variables.sh

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.9.7'
          host: 'linux'
          install-deps: 'true'

      - name: Install dependencies
        run: sudo apt-get install extra-cmake-modules libxcb-xfixes0-dev libssl-dev rpm

      - name: Set up kColorPicker
        run: bash ./.github/scripts/setup_kColorPicker.sh

      - name: Set up kImageAnnotator
        run: bash ./.github/scripts/setup_kImageAnnotator.sh

      - name: Set up spec file
        run: bash ./.github/scripts/linux/rpm/setup_spec_file.sh

      - name: Set up directory structure
        run: bash ./.github/scripts/linux/rpm/setup_rpm_directory_structure.sh

      - name: Package rpm
        run: bash ./.github/scripts/linux/rpm/build_rpm.sh

      - name: Upload files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
          bash upload.sh ksnip-*.rpm


  package-deb:
    runs-on: ubuntu-latest
    needs: test-linux
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up build variables
        run: bash ./.github/scripts/setup_build_variables.sh

      - name: Set up windows build variables
        run: bash ./.github/scripts/linux/setup_linux_build_variables.sh

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.12.7'
          host: 'linux'
          install-deps: 'true'

      - name: Install dependencies
        run: sudo apt-get install cmake extra-cmake-modules libxcb-xfixes0-dev libssl-dev devscripts debhelper

      - name: Set up kColorPicker
        run: bash ./.github/scripts/setup_kColorPicker.sh

      - name: Set up kImageAnnotator
        run: bash ./.github/scripts/setup_kImageAnnotator.sh

      - name: Set up directory structure
        run: bash ./.github/scripts/linux/deb/setup_deb_directory_structure.sh

      - name: Set up changelog
        run: bash ./.github/scripts/linux/deb/setup_changelog_file.sh

      - name: Package deb
        run: bash ./.github/scripts/linux/deb/build_deb.sh

      - name: Upload files
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          wget -c https://github.com/probonopd/uploadtool/raw/master/upload.sh
          bash upload.sh ksnip-*.deb

