[Desktop Entry]
Type=Application
Exec=ksnip
Icon=ksnip
Terminal=false
Name=ksnip
GenericName=ksnip Screenshot Tool
Comment=Screenshot tool inspired by Windows Snipping Tool and made with Qt for Linux.
Categories=Utility
