[Desktop Entry]
Type=Application
Exec=ksnip
Icon=ksnip
Terminal=false
StartupNotify=false
Name=ksnip
GenericName=ksnip Screenshot Tool
Categories=Utility;
Actions=Area;LastArea;FullScreen;Window;
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;
Comment=Cross-platform screenshot tool that provides many annotation features for your screenshots.
Comment[pt_BR]=Ferramenta de captura de tela de Cross-plataforma que fornece muitos recursos de anotação para suas capturas de tela.
X-KDE-DBUS-Restricted-Interfaces=org.kde.kwin.Screenshot,org.kde.KWin.ScreenShot2

[Desktop Action Area]
Exec=ksnip -r -c
Icon=ksnip
Name=Capture a rectangular area

[Desktop Action LastArea]
Exec=ksnip -l -c
Icon=ksnip
Name=Capture last selected rectangular area

[Desktop Action FullScreen]
Exec=ksnip -m -c
Icon=ksnip
Name=Capture a fullscreen

[Desktop Action Window]
Exec=ksnip -a -c
Icon=ksnip
Name=Capture the focused window
